<div class="card mt-5">
    <div class="card-body">
        <h3>Cadastro de bitolas</h3>
        <p>Insira abaixo o arquivo resumo de aço:</p>
        <form action="/admin/get_gauges" enctype="multipart/form-data" method="post">
            <input type="file" class="form-control" name="registerGauges">
            <br>
            <button type="submit" class="btn btn-primary">Analisar</button>
        </form>
        <hr>
    </div>
</div>
{{#if objDataPDF}}
    <form action="/admin/export_gauges" method="post">
        <div class="mt-3">
            <label for="sheet" class="form-label">Planilha de destino:</label>
            <select class="form-select form-select-lg mb-3" name="sheet" id="sheet">
                    <option value="0" selected>Planilhamento</option>
                    <option value="1">Teste</option>
            </select>
        </div>
        <table class="table">
            <thead class="table-primary">
                <tr align="center">
                    <th scope="col">#</th>
                    <th scope="col">Romaneio</th>
                    <th scope="col">Aço</th>
                    <th scope="col">Bitola</th>
                    <th scope="col">Peso</th>
                    <th scope="col">Planilhador</th>
                    <th scope="col">Observação</th>
                    <th scope="col">Excluir</th>
                </tr>
            </thead>
            <tbody>
                {{#each objDataPDF.gauges}}
                    <tr align="center">
                        <th scope="row">{{id}}</th>
                        <td>{{romaneio}}</td>
                        <td>{{aco}}</td>
                        <td>{{bitola}}</td>
                        <td>{{peso}}</td>
                        <td>
                            <select class="form-select" name="name">
                                {{#each ../users}}
                                    <option value="{{name}}" {{select}}>{{name}}</option>
                                {{/each}}
                            </select>
                        </td>
                        <td><input type="text" name="obs-{{id}}" class="form-control" placeholder="Insira Observação (opcional)" aria-describedby="basic-addon1"></td>
                        <td>
                            <input class="form-check-input" type="checkbox" value="{{id}}" name="exc" id="flexCheckDefault">
                        </td>
                    </tr>
                {{/each}}
                    <tr>
                        <td colspan="7" class="table-active" align="center"><strong>Resumo</strong></td>
                    </tr>
                {{#each objDataPDF.summary}}
                    <tr align="center">
                        <th scope="row">{{id}}</th>
                        <td>{{romaneio}}</td>
                        <td>{{aco}}</td>
                        <td>{{bitola}}</td>
                        <td>{{peso}}</td>
                        <td></td>
                        <td><input type="text" name="obs" class="form-control" aria-describedby="basic-addon1" disabled></td>
                        <td><input class="form-check-input" type="checkbox" id="flexCheckDefault" disabled></td>
                    </tr>
                {{/each}}
                <tr align="center">
                    <td colspan="4" class="table-active"><strong>Peso Total - Kg</strong></td>
                    <td colspan="1" class="table-active"><strong>{{objDataPDF.totalWeight}}</strong></td>
                </tr>
            </tbody>
        </table>
        <input type="text" name="arquive" value="{{arquive}}" hidden>
        <hr>
        <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
        <a href="/admin/register_gauges"><button type="button" class="btn btn-secondary btn-lg">Cancelar</button></a>
    </form>
{{/if}}